@charset "utf-8";

/* 
GENERAL STYLIGS
=================================================== */
html,
body,
h1,
h2,
h3,
h4,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article,
header,
footer,
aside,
figure,
figcaption,
nav,
section {
    display: block;
}
body {
    line-height: 1.7;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
ol,
ul {
    list-style: none;
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* 
COMMON
=================================================== */
html {
    scroll-behavior: smooth;
    line-height: 0;
}
p {
    line-height: 1.7;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4%;
}
body {
    font-family: 'ひな明朝', serif;
    background: url(./img/background-pc.jpeg);
}

/* memo ===================
  background: rgba(227, 218, 218 ,5);
  rgba(232, 56, 13)　赤
  rgba(112, 112, 112)　ヘッダー文字灰色
  rgb(65,47,23)フッター背景
  rgb(157, 86, 81)コピーライト文字赤
  rgb(182, 97, 97)topの文字　写真の上の文字
==============================*/

/* 
topへ戻るボタン */
.page-top-btn {
    position: fixed;
    width: 20%;
    top:70%;
    left: 80%;
    transition: 0.3s;
    z-index: 999;
    }
.page-top-btn img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Webコピペ */
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: -15px;
    z-index: 9;
}
.pagetop a {
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.8;
    opacity: 0.8;
    
}
.pagetop a img {
    z-index: 99999;
    width: 15vw;
}
/* 
HEADER
================================================== */
.hambager-dt {
    display: none;
}
.page-header {
    position: fixed;
    width: 100%;
    z-index: 3;
}
.page-header nav {}
.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(227, 218, 218, 5);
}
.main-nav li {
    margin: 1.5rem;
}
.main-nav li:first-child {
    padding-right: 6rem;
}
.main-nav li:first-child a {
    font-size: 2rem;
}
.main-nav li span {
    color: rgb(232, 56, 13);
}
.main-nav a {
    color: rgba(112, 112, 112);
    text-transform: uppercase;
    font-size: 1.5rem;
}

/*
TOP
================================================== */
.top-img {
    background: url(./img/hero-pc.png) no-repeat center center/cover;
    aspect-ratio: 16/9;
    
}
.top-img p {
    position: absolute;
    top: 18%;
    left: 27%;
    width: 100px;
    height: 450px;
    padding: 2.5rem .5rem ;
    writing-mode: vertical-rl;
    background-color: #acf2f4;
    letter-spacing: .6rem;
    background-color: rgba(255, 255, 255, .7);
    color: rgb(170, 86, 81);
    font-size: 1.5rem;
    font-weight: bold;
}
.topic {
    margin: 6rem auto ;
}
h1 {
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}
.top-dl {
    width: 50%;
    margin: 0 auto 2rem;
    font-size: 1.5rem;
}
.topic-list {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
#top dt {
    width: 30%;
    margin-bottom: 1rem;
}
#top dd {
    width: 70%;
}
.top-detail {
    display: flex;
    justify-content: right;
    font-size: 1.5rem;
}
.top-detail p {
    width: 100px;
    border-bottom: 1px solid #000;
    margin-bottom: 1rem;
}
.top-detail p:before {
    content: "\02192";
    margin-right: 10px;
}

/*
ABOUT
================================================== */

h2 {
    font-size: 2rem;
    padding-left: 1rem;
    margin-bottom: 3rem;
    background: rgb(227, 218, 218);
}
.about-wrap {
    display: flex;
    justify-content: center;
}
.about-text {
    max-width: 700px;
    width: 50%;
    margin: 3rem auto 0;
}
.about-text p {
    font-size: 1.25rem;
}
.about-img {
    background: url(./img/about.png) no-repeat center center/cover;
    width: 30%;
    height: 50vh;
}

/* position 春 */

.about-spring {
    background: url(./img/season1-pc.png) no-repeat center center/cover;
    width: 92vw;
    aspect-ratio: 16/ 8;
    position: relative;
    margin: 20vh auto;
    left: 50%;
    transform: translate(-50%);
}
.about-spring-text {
    position: absolute;
    left: 200px;
    height: 100%;
}
.about-spring-text p {
    writing-mode: vertical-rl;
    background-color: rgba(255, 255, 255, .7);
    height: 100%;
    padding: 120px 20px 0;
}
.about-spring-text p:before {
    content: "春";
    font-size: 5rem;
    position: absolute;
    top: -22px;
    right: -20px;
    z-index: 9;
    color: rgba(112, 112, 112);
}
.about-spring-text p:after {
    content: url(./img/title1.png);
    position: absolute;
    top: -57px;
    left: -30px;
}

.about-spring-imgfirst {
    background: url(./img/item1-1.png) no-repeat bottom left;
    width: 160px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    right: 10px;
}
.about-spring-imglast {
    background: url(./img/item1-2.png) no-repeat bottom left;
    width: 160px;
    height: 200px;
    position: absolute;
    bottom: -50px;
    right: 120px;
}
/* 夏 */
.about-summer {
    background: url(./img/season2-pc.png)no-repeat center center/cover;
    width: 92vw;
    aspect-ratio: 16/ 8;
    position: relative;
    margin: 20vh auto;
    left: 50%;
    transform: translate(-50%);
}
.about-summer-text {
    position: absolute;
    right: 200px;
    height: 100%;
}
.about-summer-text p {
    writing-mode: vertical-rl;
    background-color: rgba(255, 255, 255, .7);
    height: 100%;
    padding: 120px 20px 0;
}
.about-summer-text p:before {
    content: "夏";
    font-size: 5rem;
    position: absolute;
    top: -22px;
    right: -20px;
    z-index: 9;
    color: #fff;
}
.about-summer-text p:after {
    content: url(./img/title2.png);
    position: absolute;
    top: -57px;
    left: -30px;
}
.about-summer-imgfirst {
    background: url(./img/item2-1.png) no-repeat bottom left;
    width: 160px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 10px;
}
.about-summer-imglast {
    background: url(./img/item2-2.png) no-repeat bottom left;
    width: 160px;
    height: 200px;
    position: absolute;
    bottom: -50px;
    left: 120px;
}

/* 秋 */
.about-autmmn {
    background: url(./img/season3-pc.png) no-repeat center center/cover;
    width: 92vw;
    aspect-ratio: 16/ 8;
    position: relative;
    margin: 20vh auto;
    left: 50%;
    transform: translate(-50%);
}
.about-autmmn-text {
    position: absolute;
    left: 200px;
    height: 100%;
}
.about-autmmn-text p {
    writing-mode: vertical-rl;
    background-color: rgba(255, 255, 255, .7);
    height: 100%;
    padding: 120px 20px 0;
}
.about-autmmn-text p:before {
    content: "秋";
    font-size: 5rem;
    position: absolute;
    top: -22px;
    right: -20px;
    z-index: 9;
    color: #fff;
}
.about-autmmn-text p:after {
    content: url(./img/title3.png);
    position: absolute;
    top: -57px;
    left: -30px;
}
.about-autmmn-imgfirst {
    background: url(./img/item3-1.png) no-repeat bottom right;
    width: 160px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    right: 10px;
}
.about-autmmn-imglast {
    background: url(./img/item3-2.png) no-repeat bottom right;
    width: 160px;
    height: 200px;
    position: absolute;
    bottom: -50px;
    right: 120px;
}
/* 冬 */

.about-winter {
    background: url(./img/season4-pc.png) no-repeat center center/cover;
    width: 92vw;
    aspect-ratio: 16/ 8;
    position: relative;
    margin: 20vh auto 0;
    left: 50%;
    transform: translate(-50%);
}
.about-winter-text {
    position: absolute;
    top:0px;
    right: 200px;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.about-winter-text p {
    writing-mode: vertical-rl;
    background-color: rgba(255, 255, 255, .7);
    height: 100%;
    padding: 120px 20px 0;
}
.about-winter-text p:before {
    content: "冬";
    font-size: 5rem;
    position: absolute;
    top: -22px;
    right: -22px;
    z-index: 2;
    color: #fff;
}
.about-winter-text p:after {
    content: url(./img/title4.png);
    position: absolute;
    top: -57px;
    left: -30px;
}
.about-winter-imgfirst {
    background: url(./img/item4-1.png) no-repeat bottom left;
    width: 160px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 10px;
}
.about-winter-imglast {
    background: url(./img/item4-2.png) no-repeat bottom left;
    width: 160px;
    height: 200px;
    position: absolute;
    bottom: -50px;
    left: 120px;
}
/*
ACCESS
================================================== */
#access {
    margin: 10rem auto 3rem;
}
.access-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.access-box-text {
    width: 50%;
}
.access-box-text dl {
    display: flex;
    width: 100%;
}
.access-box-text dd{
    width: 30%;
}
.access-box-text dt {
    width: 70%;
}
.access-map {
    width: 50%;
    text-align: center;
}
/*
FOOTER
================================================== */
footer {
    background: rgb(65, 47, 23);
    text-align: center;
    padding: 2rem 0;
}
footer p {
    color: #fff;
    /* text-align: center; */
}
footer img {
    padding: 1rem 0;
}
footer small {
    text-transform: capitalize;
    color: rgb(182, 97, 97);
}

/* 
770~1149pxは下記のCSSとなる
================================================== */
@media screen and (min-width:770px) and (max-width: 1200px) {
    /*
HEADER
================================================== */
.main-nav a {
    /* white-space: nowrap; */
    font-size: 1.2rem;
}
.main-nav li {
    margin: .6rem;
}
.main-nav li:first-child {
    padding-right: .5rem;
}
    /*
TOP
================================================== */
.top-img {
    aspect-ratio: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

/*
ABOUT
================================================== */
    /*
ACCESS
================================================== */
    /*
FOOTER
================================================== */
}

/* 
770px以下は下記のCSSとなる
================================================== */
@media (max-width: 770px) {
    .wrapper {
        padding: 0;
    }

    /* 
HEADER
================================================== */
.page-header {
    display: none;
}
.page-header-sp {
    position: fixed;
    width: 100%;
    z-index: 3;
}
.main-nav-sp {
    display: flex;
    justify-content: left;
    align-items: center;
    background: rgba(255, 255, 255, .8);
    line-height: 0;
}
.main-nav-sp li {
    margin: 1.5rem;
}
.main-nav-sp li:first-child {
    padding-right: 6rem;
}
.main-nav-sp li:first-child a {
    font-size: 2rem;
}
.main-nav-sp li span {
    color: rgb(232, 56, 13);
}
.main-nav-sp a {
    color: rgba(112, 112, 112);
    text-transform: uppercase;
    font-size: 1.5rem;
    
}

/* ハンバーガーメニュー */

.hambager-dt {
    display: block;
}
#g-nav-list ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    margin-top: 1rem;
}
#g-nav-list li {
    border-bottom: 1px solid rgb(65, 47, 23);
    width: 100%;
}
#g-nav-list li:nth-child(7),
#g-nav-list li:nth-child(8) {
    border-bottom: none;
}
#g-nav-list ul li a {
    margin-top: 1rem;
    color: rgb(65, 47, 23);
    white-space:nowrap;
}
#g-nav-list li:hover {
    color:darkgray;
    padding-top: 1rem;
}
#g-nav-list li:last-child{
    width: 30%;
    margin: 1rem auto 0;
}
#g-nav{
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top:-180%;
    left:0;
    width:100%;
    height: 100vh;/*ナビの高さ*/
    background: #fff;
    transition: all 0.6s;
}
/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    top: 0;
}
/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 99; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
}
/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
/*リストのレイアウト設定*/
#g-nav li{
    text-align: center;
}
#g-nav li:hover {
    background: rgba(220, 220, 220, .8);
}
#g-nav li a{
    color: #333;
    display: block;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 1.5rem;
}
#g-nav li p {
    text-transform: capitalize;
    margin-top: 1rem;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
    position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
    top:10px;
    right: 10px;
    cursor: pointer;
    width: 70px;
    height:50px;
}
/*×に変化*/  
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #000;
    width: 45%;
}
.openbtn1 span:nth-of-type(1) {
    top:15px; 
}
.openbtn1 span:nth-of-type(2) {
    top:23px;
}
.openbtn1 span:nth-of-type(3) {
    top:31px;
}
.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}
.openbtn1.active span:nth-of-type(2) {
    opacity: 0;
}
.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
    /*
TOP
================================================== */
.top-img {
    aspect-ratio: 0;
    width: 100vw;
    height: 100vh;
    background-position: 25%;
}
.top-img p {
    left: 12%;
}
.top-dl {
    width: 90%;
}
.topic-list {
    flex-direction: column;
}
#top dd {
    width: 100%;
}
.top-detail p {
    margin: 16px;
}
/*
ABOUT
================================================== */
h2 {
    margin: 0 32px 32px 0;
}
.about-wrap {
    position: relative;
    height: 90vh;
    justify-content: left;
}
.about-text {
    position: absolute;
    background-color: rgba(255, 255, 255, .7); 
    margin: 0;
    width: 75%;
    z-index: 2;
}
.about-img {
    position: absolute;
    width: 75%;
    height: 60vh;
    right: 0px;
    top: 160px;
    z-index: 1;
}
/* position 春夏秋冬 */
.about-spring,
.about-summer,
.about-autmmn,
.about-winter {
    aspect-ratio: 0;
    height: 90vh;
    width: 100vw;
}
.about-autmmn-text p:before {
    right: -80px;
}

/*
ACCESS
================================================== */
.access-box {
    flex-direction: column;
    margin: 0 auto;
}   
.access-box-text{
    margin-bottom: 32px;
    width: 90%;
    font-size: 1.2rem;
}
.access-map{
    width: 100%;
}
/* .access-map {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 75%; /* 比率を4:3に固定 */
        
    /* }/* */
      /* Google Mapのiframe */
/* .access-map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
      } */
}

/*
FOOTER
================================================== */
